@page
@model MyApp.Namespace.RoomHandlerModel
@{
    ViewData["Title"] = "ManageRooms";
}

<link rel="stylesheet" href="../css/addRoomForm.css">


<div class="form-content">
    <div class="form-items">
        <h3>Add Rooms to Database</h3>
        <p>(Id will generate automatically)</p>
        <form class="requires-validation" novalidate>

            <div class="col-md-12">
                <input class="form-control" type="text-black" name="RoomName" placeholder="Room Name" required> <br>
                <div class="valid-feedback">Room Name field is valid!</div>
                <div class="invalid-feedback">Room Name field cannot be blank!</div>
            </div>

            <div class="col-md-12">
                <input class="form-control" type="number" name="Capacity" placeholder="Capacity" required> <br>
                <div class="valid-feedback">Capacity field is valid!</div>
                <div class="invalid-feedback">Capacity field cannot be blank!</div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label">I confirm that all data are correct</label>
                <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
            </div>


            <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-primary" onclick="">Send To DB</button>
            </div>
        </form>
    </div>
</div>
