@page
@model WebApp1.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="../css/index.css">

<div class="container mt-3">
    <h2>Welcome to the Room Management System</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <!-- AddRoom sayfasına yönlendiren buton -->
            <a href="/AddRoom" class="btn btn-custom-success btn-lg btn-block">Add Room</a>
        </div>
        <div class="col-md-6">
            <!-- ListRooms sayfasına yönlendiren buton -->
            <a href="/ListRooms" class="btn btn-custom-primary btn-lg btn-block">List Rooms</a>
        </div>
    </div>
</div>
